{%load static%}

<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-gH2yIJqKdNHPEq0n4Mqa/HGKIhSkIHeL5AyhkYV8i59U5AR6csBvApHHNl/vI1Bx" crossorigin="anonymous">
    <link href="{%static '/css/main.css' %}" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-A3rJD856KowSb7dwlZdYEkO39Gagi7vIsF0jrRAoQmDKKtQBHUuLZ9AsSv4jD4Xa" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.1/js/bootstrap.min.js" integrity="sha384-XEerZL0cuoUbHE4nZReLT7nx9gQrQreJekYhJD9WNWhH8nEW+0c5qq7aIo2Wl30J" crossorigin="anonymous"></script>

    <!-- Include jQuery -->
<script type="text/javascript" src="https://code.jquery.com/jquery-1.11.3.min.js"></script>

<!-- Include Date Range Picker -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
<script>
    $(document).ready(function(){
      var date_input=$('input[name="date"]'); //our date input has the name "date"
      var container=$('.bootstrap-iso form').length>0 ? $('.bootstrap-iso form').parent() : "body";
      var options={
        format: 'mm/dd/yyyy',
        container: container,
        todayHighlight: true,
        autoclose: true,
      };
      date_input.datepicker(options);
    })
</script>
        
</head>

{% include "navbar.html" %}

<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div class="signup-form">
                    <form action="" class="mt-5 border p-4 bg-light shadow" method = "POST">{% csrf_token %} 
                        <h4 class="text-center mb-5 text-secondary">Ingresar Datos de Bitácora de Mediciones</h4>
                        <div class="row">

                            <!-- Primera Seccion del formulario -->

                            <div class="mb-3 col-md-4 ">
                                
                                   
                                       <!-- Form code begins -->
                                       <form method="post">
                                         <div class="form-group"> <!-- Date input -->
                                           <label class="control-label" for="date">Date</label>
                                           <input class="form-control" id="date" name="date" placeholder="MM/DD/YYY" type="text"/>
                                         </div>
                                         
                                        <!-- Form code ends -->       
                                     
                            </div>


                            <div class="mb-3 col-md-4">
                                <label for="Hour">Hour<span class="text-danger">*</span></label>
                                <input type="number" name="Hour" class="form-control" placeholder="Enter Hour" id="Hour">
                            </div>

                            <div class="mb-3 col-md-4">
                                <label for="Place">Place<span class="text-danger">*</span></label>
                                <input type="text" name="Place" class="form-control" placeholder="Enter Place" id="Place">
                            </div>

                            <!-- Segunda Seccion del formulario -->
                            <div class="mb-3 col-md-6">
                                <label for="Operator">Operator<span class="text-danger">*</span></label>
                                <input type="text" name="Operator" class="form-control" placeholder="Enter Operator" id="Operator">
                            </div>

                            <div class="mb-3 col-md-6">
                                <label for=" Gpstype">GPS Type and # <span class="text-danger">*</span></label>
                                <input type="text" name="Gpstype" class="form-control" placeholder="Enter GPS Type and # " id="Gpstype">
                            </div>

                             <!-- Tercera  Seccion del formulario -->

                             <div class="mb-3 col-md-3">
                                <label for="Statype">Station Type<span class="text-danger">*</span></label>
                                <input type="text" name="Statype" class="form-control" placeholder="Enter Station Type" id="Statype">
                            </div>

                            <div class="mb-3 col-md-3">
                                <label for="Senstype">Sensor Type <span class="text-danger">*</span></label>
                                <input type="text" name="Senstype" class="form-control" placeholder="Enter Sensor Type " id="Senstype">
                            </div>
                            
                            <div class="mb-3 col-md-3">
                                <label for="Statnum">Station #<span class="text-danger">*</span></label>
                                <input type="text" name="Statnum" class="form-control" placeholder="Enter Station #" id="Statnum">
                            </div>

                            <div class="mb-3 col-md-3">
                                <label for="Sensnum">Sensor # <span class="text-danger">*</span></label>
                                <input type="text" name="Sensnum" class="form-control" placeholder="Enter Sensor # " id="Sensnum">
                            </div>

                            <!-- Cuarta  Seccion del formulario -->

                            <div class="mb-3 col-md-4 ">
                                <label for="Disknum">Disk #<span class="text-danger">*</span></label>
                                <input type="text" name="Disknum" class="form-control" placeholder="Enter Disk #" id="Disknum">
                            </div>
    
                            <div class="mb-3 col-md-4">
                                <label for="Flname">File Name<span class="text-danger">*</span></label>
                                <input type="text" name="Flname" class="form-control" placeholder="Enter File Name" id="Flname">
                            </div>

                            <div class="mb-3 col-md-4">
                                <label for="Pnum">Point # <span class="text-danger">*</span></label>
                                <input type="text" name="Pnum" class="form-control" placeholder="Enter Point #" id="Pnum">
                            </div>

                            <!-- Quinta  Seccion del formulario -->

                            <div class="mb-3 col-md-4 ">
                                <label for="Gain">Gain<span class="text-danger">*</span></label>
                                <input type="text" name="Gain" class="form-control" placeholder="Enter Gain" form="Gain">
                            </div>
    
                            <div class="mb-3 col-md-4">
                                <label for="Freq">SAMPL. FREQ. hz<span class="text-danger">*</span></label>
                                <input type="text" name="Freq" class="form-control" placeholder="Enter SAMPL FREQ hz" id="Freq">
                            </div>

                            <div class="mb-3 col-md-4">
                                <label for="Duration">Rec Duration <span class="text-danger">*</span></label>
                                <input type="text" name="Duration" class="form-control" placeholder="Enter Rec Duration" id="Duration">
                            </div>

                            <!-- Secta  Seccion del formulario -->
                            <h5 class="mb-8 text-secondary">Weather Conditions </h5>
                            <div class="mb-3 col-md-3">
                                <label for="windopts"> Wind </label>
                                <select id="windopts" name="windopts" class ="form-control">
                                    <option value="none">None</option>
                                    <option value="weak">Weak (5m/s)</option>
                                    <option value="medium">Medium</option>
                                    <option value="strong">Strong</option>
                                  </select>
                            </div>

                            <div class="mb-3 col-md-3">
                                <label for="rainopts" >Rain</label>
                                <select id="rainopts" name="rainopts" class ="form-control">
                                    <option value="Rnone">None</option>
                                    <option value="Rweak">Weak (5m/s)</option>
                                    <option value="Rmedium">Medium</option>
                                    <option value="Rstrong">Strong</option>
                                  </select>   
                            </div>

                            <div class="mb-3 col-md-3 ">
                                <label>Temperature<span class="text-danger">*</span></label>
                                <input type="number" name="temp" class="form-control" placeholder="Enter Temperature">
                            </div>

                            <div class="mb-3 col-md-3 ">
                                <label form="remarkstemp">remarks<span class="text-danger">*</span></label>
                                <input id="remarkstemp" type="text" name="remarks" class="form-control" placeholder="Enter remarks">
                            </div>

                            <!-- septima  Seccion del formulario -->
                            <h5 class="mb-8 text-secondary">Ground Type </h5>
                            
                            <div class="mb-3 col-md-4">
                                <label for="Groundtyp" >Select Ground Type<span class="text-danger">*</span></label>
                                <select id="Groundtyp" name="Groundtyp" class="form-control">
                                    <option value="earth">Earth</option>
                                    <option value="gravel">Gravel</option>
                                    <option value="sand">Sand</option>
                                    <option value="rock">Rock</option>
                                    <option value="asphalt">Asphalt</option>
                                    <option value="grass">Grass</option>
                                    <option value="cement">Cement</option>
                                    <option value="concrete">Concrete</option>
                                    <option value="paved">Paved</option>
                                    </select>
                            </div>
                            

                            <!-- 

                            <div class="form-check form-check-inline">
                                <label class="col-md-12">Select Ground Type</label> 
                                <div class="col-md-12">
                                    <div class="row">
                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_0" type="checkbox" class="custom-control-input" value="earth"> 
                                            <label for="Groundtyp_0" class="custom-control-label">Earth</label>
                                        </div>
                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_1" type="checkbox" class="custom-control-input" value="gravel"> 
                                            <label for="Groundtyp_1" class="custom-control-label">Gravel</label>
                                        </div>
                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_2" type="checkbox" class="custom-control-input" value="sand"> 
                                            <label for="Groundtyp_2" class="custom-control-label">Sand</label>
                                        </div>
                                    

                                    
                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_3" type="checkbox" class="custom-control-input" value="rock"> 
                                            <label for="Groundtyp_3" class="custom-control-label">Rock</label>
                                        </div>
                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_4" type="checkbox" class="custom-control-input" value="grass"> 
                                            <label for="Groundtyp_4" class="custom-control-label">Grass</label>
                                        </div>
                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_5" type="checkbox" class="custom-control-input" value="asphalt"> 
                                            <label for="Groundtyp_5" class="custom-control-label">Asphalt</label>
                                        </div>

                                        <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_6" type="checkbox" class="custom-control-input" value="cement"> 
                                            <label for="Groundtyp_6" class="custom-control-label">Cement</label>
                                          </div>
                                        
                                          <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_7" type="checkbox" class="custom-control-input" value="concrete"> 
                                            <label for="Groundtyp_7" class="custom-control-label">Concrete</label>
                                          </div>

                                          <div class="col">
                                            <input name="Groundtyp" id="Groundtyp_8" type="checkbox" class="custom-control-input" value="paved"> 
                                            <label for="Groundtyp_8" class="custom-control-label">Paved</label>
                                          </div>
                                    </div>
                                </div>
                              </div> 

                              -->


                            <div class="mb-3 col-md-4 ">
                                <label for="remarksgro">remarks<span class="text-danger">*</span></label>
                                <input id="remarksgro" type="text" name="remarks" class="form-control" placeholder="Enter remarks">
                            </div>

                            <!-- septima  Seccion del formulario 
                            <div class="mb-3 col-md-12 ">
                                <label>Observations<span class="text-danger">*</span></label>
                                <input type="text" name="observa" class="form-control" placeholder="Enter Observations">
                            </div>

                            -->

                            <div class="mb-3 col-md-12">
                                <label for="Observations" class="col-3 col-form-label">Observations</label> 
                                <div class="col-9">
                                  <textarea id="Observations" name="Observations" cols="40" rows="5" class="form-control" placeholder="Enter Observations"></textarea>
                                </div>
                              </div> 

    
                            <div class="col-md-12">
                               <button class="btn btn-primary float-end">Registrar Bitacora</button>
                            </div>
                        </div>
                    </form>
                    <p class="text-center mt-3 text-secondary"> </a></p>
                </div>
            </div>
        </div>
        
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.14.0-beta2/js/bootstrap-select.min.js"></script>
    
    {%include "footer.html"%}
</body>


