
<footer id="sticky-footer" class="flex-shrink-0 py-4 text-white-50" style="background-color: rgb(216, 216, 216) ">
    <div  class="container">

        <div class="btn float-end" style="background-color: white;  ">
            <a style="color: #000000; text-decoration: none;" href="#">Regresar arriba <i class="bi bi-arrow-up-square-fill"></i></a>
        </div>
        <p style="color: #000000 " >&copy; 2022 Universidad Tecnológica de Panamá &middot; <a style="color: #000000 " href="#">Privacy</a> &middot; <a style="color: #000000 "href="#">Terms</a></p>
    </div>
</footer>

