{%load static%}
<link href="{%static '/css/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="{%static 'images/logo.png'%}" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp

      <div class="collapse navbar-collapse" id="navbarCollapse" style="color: #820d9d ;">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Inicio </a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link"href="{%url 'datos'%}">Datos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="{%url 'blogs' %}" >Noticias</a>
          </li>
          
          <li class="nav-item">
            <a class="nav-link" href="{%url 'AboutUs' %}">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'Maps' %}">Mapa</a>
          </li>

          {% if user.is_authenticated %}

          <li class="nav-item">
            <a class="nav-link" href="{% url 'pruebabit' %}">Bitácora</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'search' %}">Descargas</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{% url 'filterbit' %}">Filtro</a>
          </li>

          <li class="nav-item">
            <a class="nav-link {% block add_blogs_active %} {% endblock add_blogs_active %}" href="/add_blogs/">Add Blogs</a>
          </li>



        </ul>
        <div>
            <a class="nav-link" href="/logout/">Logout</a>
        </div>
        {% else %}

        <div>
          <i class="bi bi-people-fill" style="font-size: 30px;"></i>&nbsp;<a href="{% url 'login' %}"">Iniciar sesión</a>
        </div>
        
      </div>
      {% endif %}
    </div>
  </nav>

