{%load static%}

{% url 'home' as home %}
{% url 'datos' as datos %}
{% url 'blogs' as blogs %}
{% url 'AboutUs' as AboutUs %}
{% url 'Maps' as Maps %}
{% url 'pruebabit' as pruebabit %}
{% url 'search' as search %}
{% url 'filterbit' as filterbit %}
{% url 'add_blogs' as add_blogs %}


<link href="{%static '/css/main.css' %}" rel="stylesheet">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.9.1/font/bootstrap-icons.css">

<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href="{%url 'home'%}"><img src="{%static 'images/logo.png'%}" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp
      
      

      <div class="collapse navbar-collapse" id="navbarCollapse" style="color: #820d9d ;">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item ">
            <a class="nav-link {% if request.path == home %} active {% endif %}" aria-current="page" href="{%url 'home'%}">Inicio </a>
          </li>
          
          <li class="nav-item">
            <a href="{%url 'datos'%}" class="nav-link {% if request.path == datos %} active {% endif %}" >Datos</a>
          </li>

          <li class="nav-item">
            <a class="nav-link{% if request.path == blogs %} active {% endif %} " href="{%url 'blogs'%}" >Noticias</a>
          </li>
          
          
          <li class="nav-item">
            <a class="nav-link {% if request.path == AboutUs %} active {% endif %}" href="{%url 'AboutUs' %}">Sobre Nosotros</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {% if request.path == Maps %} active {% endif %}" href="{% url 'Maps' %}">Mapa</a>
          </li>

          {% if user.is_authenticated %}
          
            {% for group in request.user.groups.all %}
            {%if group.name == 'investigadores' or group.name == 'estudiantes' %}
             
              {% endif %}

            {%if group.name == 'investigadores' %}

              <li class="nav-item">
                <a class="nav-link {% if request.path == pruebabit %} active {% endif %}" href="{% url 'pruebabit' %}">Bitácora</a>
              </li>
                
             
              {% endif %}
            {%endfor%}

            {% if user.is_superuser %}
                <li class="nav-item">
                  <a class="nav-link {% if request.path == filterbit %} active {% endif %}" href="{% url 'filterbit' %}">Edición de Bitácora</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if request.path == blogs %} active {% endif %} " href="{%url 'Solicitudes'%}" >Solicitudes</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link{% if request.path == blogs %} active {% endif %} " href="{%url 'contato'%}" >contacto</a>
                </li>


              </ul>
            {% endif %}
          </ul>
          <div>
            <h4 class="nav-item" style="text-decoration: none;" >¡Hola {{request.user}}! &nbsp;</h4>
          </div>

          <div class="btn" style="background-color: #af4ac5;  ">
          <strong><a href="/logout/" style="text-decoration: none; color: white;"><i class="bi bi-box-arrow-left" style="font-size: 20px;"></i>&nbsp; Logout</a></strong>
          </div>
        {% else %}
        </ul>
          <div class="btn" style="background-color: #af4ac5; text-align: right; ">
            <strong><a href="/login/" style="text-decoration: none; color: white;"><i class="bi bi-people-fill" style="font-size: 20px;"></i>&nbsp; Iniciar Sesión</a></strong>
          </div>
        {% endif %}
        
        
      </div>
      
    </div>
  </nav>

