{%load static%}
<link href="{%static '/css/main.css' %}" rel="stylesheet">
<nav class="navbar navbar-expand-md navbar-light bg-white">
    <div class="container-fluid">
      <a class="navbar-brand" href=""><img src="{%static 'images/logo.png'%}" id="logo"></a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      &nbsp

      <div class="collapse navbar-collapse" id="navbarCollapse" style="color: #820d9d ;">
        <ul class="navbar-nav me-auto mb-2 mb-md-0">
          <li class="nav-item ">
            <a class="nav-link active" aria-current="page" href="{%url 'home'%}">Inicio </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{%url 'datos'%}">Datos</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Noticias
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
              <a class="dropdown-item" href="#">Avances en el área de Ing. Civil</a>
              <a class="dropdown-item" href="#">Avances en el área de Ing. de Sistemas</a>
              <a class="dropdown-item" href="#">Avances en el área de Ing. Electromecánica</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="#">Información sobre los sensores</a>
            </div>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#">Sobre Nosotros</a>
          </li>


          <li class="nav-item">
            <a class="nav-link" href="{% url 'Bitacora' %}">Bitácora</a>
          </li>

        </ul>
        <form class="d-flex" role="search">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-secondary" type="submit" style="background-color: #820d9d;">Buscar</button>
        </form>
      </div>
    </div>
  </nav>